{% extends "base.html" %}
{% from "components/input_field.html" import input_field %}
{% from "components/button.html" import button %}
{% block title %}Set New Password{% endblock %}
{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-black text-white px-4">
        <div class="max-w-md w-full bg-white text-black rounded-md p-8 space-y-6 shadow-lg">
            <h2 class="text-2xl font-bold text-center">Set your new password</h2>
            <p class="text-sm text-gray-600 text-center">Please enter your new password below.</p>
            <form method="post" action="" class="space-y-4">
                {{ input_field("new_password", type="password", placeholder="New password", required=True) }}
                <div id="password-strength-container"
                     class="w-full h-2 mt-2 bg-gray-200 rounded-sm overflow-hidden">
                    <div id="password-strength-bar"
                         class="h-full transition-all duration-300 ease-in-out w-0"></div>
                </div>
                <p id="password-strength-text" class="text-xs text-gray-500 mt-1"></p>
                {{ input_field("confirm_password", type="password", placeholder="Confirm password", required=True) }}
                <input type="hidden" name="token" value="{{ token }}">
                <div class="mt-6">{{ button("Set New Password",disabled=True, submit=True, variant="black") }}</div>
                <p id="reset-msg" class="text-sm mt-2 text-center"></p>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/reset-password.js') }}"></script>
    <script src="{{ url_for('static', filename='js/starfield.js') }}"></script>
{% endblock %}
